/* index */
#index-content{
    padding-left: 2em;
}
#index-content>*{
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}
.index-text-shadow{
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}
/* error */

#error-info {
    display: none;
    visibility: hidden;
}

#error-inside {
    text-align: center;
}

#error-stamp {
    height: 170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

    @media (min-width: 768px) {
    .container { width: 750px; /*小型屏幕时,container样式的宽度*/ }
    }
    @media (min-width: 992px) {
    .container { width: 970px; /*中型屏幕时,container样式的宽度,缩小minwidth
    范围*/}
    }
    @media (min-width: 1200px) {
    .container { width: 1170px; /*大型屏幕时,container样式的宽度,再次缩小minwidth
    范围*/}
    }