$main-color: #1b4209;
$border-radius: 1rem;

@mixin box-shadow-up {
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
    transition: all 0.3s ease;
}

@mixin box-shadow-down {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
    outline: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

@mixin transition-fade {
    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.3s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }

    .fade-leave,
    .fade-enter-to {
        opacity: 1;
    }
}

@mixin panel-base {
    background-color: #f9fdfc;

    @include box-shadow-down;

    &:hover {
        @include box-shadow-up;
    }

    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: $border-radius;
}
